body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: darkslategray;
    background-color: rgb(252, 223, 223);
}

#header {
    background-color: rgb(105, 39, 130);
    color: white;
    padding: 1.5rem 5%;
    text-align: center;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(105, 39, 130);
    border: rgb(140, 0, 255);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn__alt {
    background-color: transparent;
    border-color: transparent;
    color: rgb(105, 39, 130);
}

.btn:hover {
    background-color: rgb(80, 0, 230);
    border-color: rgb(80, 0, 230);
}

.btn__alt:hover {
    background-color: rgb(182, 94, 255);
    border-color: rgb(182, 94, 255);
    color: white;
}
